/* Website Styles */
* {
  font-size: 120%;
  margin: 0;
  line-height: 1;
  box-sizing: content-box;
}

body {
  color: rgb(118, 42, 74);
  font-size: 24px;
  background-image: url(images/image.jpg);
  background-size: cover;
  font-family: 'Texturina' , serif;
  text-align: center;
  line-height: 3;
}


/* .container {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}

.container2 {
  padding-right: 20%;
} */

.title {
  font-size: 48px;
  text-decoration: underline;
}

h1, h2 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
}

p {
  font-size: 24px;
  color: black;
  font-weight: 900;
  line-height: 2;
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
  font-size: 28px;
}

header {
  border-bottom: 5px solid #F4CECF;
}
header h1 {
  color: rgb(105, 0, 43);
  font-size: 45px;
  font-weight: lighter;
}

section {
  color: rgb(105, 0, 43);
  border: 20px outset pink;
  outline: 20px solid medium purple;
  border-radius: 12px auto;
  margin: 100px 150px auto;
  padding: 25px auto;
  outline-offset: 30px;
  background-color: #9B636F;
}

img {
  height: 200px;
  border: 10px outset grey;
}

a {
  color: red
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:visited {
  color: rgb(79, 0, 120);
  text-decoration: none;
}

a:focus {
  color: black;
}

footer {
  color: #62072C;
  font-size: 24px;
  font-weight: 500;
}

header,
footer {
  padding: 20px;
  margin: 50px;
}
